@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Repàs de Càlcul</h1>
    <p class="lead">Vés a "Configuració" per determinar con es faran les proves o a "Iniciar Proves" per realitzar-les </p>
</div>

@Html.ActionLink("Texto Link Configuracion", "Configuracio")
